.jumbotron{
	background-image: url(img/bg2.png);
	text-align: center;
	margin-top: 50px;
	width: 1500px;
	height: 300px;
	font-family: 'Comic Neue', cursive;

}
.jumbotron2{
	background-image: url(img/bg3.webp);
	text-align      : center;
	width           : 1500px;
	height          : 800px;
	font-family     : 'Comic Neue',	cursive;
}
.containerlogin{
	background-color: whitesmoke;
	font-family : 'Comic Neue',cursive;
	width : 500px;
	height : 300px;
	margin-left: 450px;
}
img{
	width: 200px;
	text-align: center;
}
h3 {
	font-family: 'Comic Neue', cursive;
}
h2 {
	font-family: 'Pacifico',cursive;
}
.line {
	float: left;
	background-color: #f2c9c9;
	width           : 100%;
	height          : 30px;
	margin-bottom: 40px;
}




