.jumbotron{
	background-image: url(img/bg2.png);
	text-align: center;
	margin-top: 50px;
	width: 1500px;
	height: 300px;
	font-family: 'Comic Neue', cursive;

}
img{
	width: 200px;
	text-align: center;
}
h3 {
	font-family: 'Comic Neue', cursive;
}




